[tool.poetry]
name = "strawberry-graphql-django"
packages = [{ include = "strawberry_django" }]
version = "0.9.4"
description = "Strawberry GraphQL Django extension"
authors = ["Lauri Hintsala <lauri.hintsala@verkkopaja.fi>"]
repository = "https://github.com/strawberry-graphql/strawberry-graphql-django"
license = "MIT"
readme = "README.md"
keywords = ["graphql", "api", "django"]
classifiers = [
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Framework :: Django",
  "Framework :: Django :: 3.2",
  "Framework :: Django :: 4.0",
  "Framework :: Django :: 4.1",
  "Framework :: Django :: 4.2",
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
Django = ">=3.2"
strawberry-graphql = ">=0.184.0"
django-debug-toolbar = { version = ">=3.4", optional = true }


[tool.poetry.group.dev.dependencies]
pre-commit = "^2.21.0"
pytest = "^7.1.2"
pytest-asyncio = "^0.21.0"
pytest-django = "^4.1.0"
pytest-pythonpath = "^0.7.3"
pytest-watch = "^4.2.0"
pytest-mock = "^3.5.1"
django-debug-toolbar = "^3.2.4"
#docs requires
mkdocs = "^1.4.2"
mkdocs-markdownextradata-plugin = "^0.2.5"
mkdocs-material = "^9.0.4"
mkdocs-minify-plugin = "^0.6.2"
pymdown-extensions = "^9.5"
ruff = "^0.0.272"
django-types = "^0.17.0"
Markdown = "^3.3.7"

[tool.poetry.extras]
debug-toolbar = ["django-debug-toolbar"]

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = [
  "E",
  "F",
  "W",
  "I",
  "N",
  "D",
  "UP",
  "YTT",
  "D2",
  "D3",
  "D4",
  "BLE",
  "B",
  "A",
  "COM",
  "C4",
  "DTZ",
  "T10",
  "EXE",
  "ISC",
  "ICN001",
  "G",
  "INP",
  "PIE",
  "T20",
  "PYI",
  "PT",
  "Q",
  "RET",
  "SIM",
  "TID",
  "TCH",
  "PTH",
  "ERA",
  "PGH",
  "PL",
  "RSE",
  "RUF",
  "TRY",
  "SLF",
]
ignore = ["D1", "D203", "D213", "PLR09", "SLF001", "TRY003", "PGH003"]
# FIXME: Enable autofix for UP006 when we don't need to support django 3.8 anymore
unfixable = ["UP006"]
target-version = "py38"
exclude = [
  ".eggs",
  ".git",
  ".hg",
  ".mypy_cache",
  ".tox",
  ".venv",
  "__pycached__",
  "_build",
  "buck-out",
  "build",
  "dist",
]

[tool.ruff.per-file-ignores]
"tests/*" = ["A003", "PLW0603"]
"examples/*" = ["A003"]

[tool.ruff.isort]
known-first-party = ["strawberry-django-plus"]

[tool.black]
target-version = ['py37', 'py38', 'py39', 'py310', 'py311']
preview = true
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | __pycached__
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "tests.django_settings"
testpaths = ["tests"]
filterwarnings = "ignore:.*is deprecated.*:DeprecationWarning"
asyncio_mode = "strict"
