---
name: Deploy Docs

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: poetry
      - run: poetry install
      - run: poetry run mkdocs gh-deploy --force
