---
name: Tests

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
      - main
      - v*
  release:
    types:
      - released

jobs:
  typing:
    name: Typing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.12"
      - name: Install Deps
        run: uv sync
      - name: Check for pyright errors
        uses: jakebailey/pyright-action@v2
        with:
          python-path: .venv/bin/python3

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        django-version:
          - 4.2.*
          - 5.0.*
          - 5.1.*
          - 5.2.*
          - 6.0.*
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        mode:
          - std
          - geos
        exclude:
          # Django 4.2 only supports python 3.8-3.12
          - django-version: 4.2.*
            python-version: '3.13'
          - django-version: 4.2.*
            python-version: '3.14'
          # Django 5.0 only supports python 3.10-3.12
          - django-version: 5.0.*
            python-version: '3.13'
          - django-version: 5.0.*
            python-version: '3.14'
          # Django 5.1 only supports python 3.10-3.13
          - django-version: 5.1.*
            python-version: '3.14'
          # Django 6.0 only supports python 3.12+
          - django-version: 6.0.*
            python-version: '3.10'
          - django-version: 6.0.*
            python-version: '3.11'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install OS Dependencies
        if: ${{ matrix.mode == 'geos' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y binutils gdal-bin libproj-dev libsqlite3-mod-spatialite
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Install Deps
        run: uv sync
      - name: Install Django ${{ matrix.django-version }}
        run: uv pip install "django==${{ matrix.django-version }}"
      - name: Test with pytest
        run: uv run --no-sync pytest -n auto --showlocals -vvv --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
