---
name: Tests

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
      - main
      - v*
  release:
    types:
      - released

jobs:
  typing:
    name: Typing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: poetry
      - name: Install Deps
        run: poetry install
      - run: echo "$(poetry env info --path)/bin" >> $"GITHUB_PATH"
      - id: venv
        run: echo "python-path=$(poetry env info --path)/bin/python3" >> "$GITHUB_OUTPUT"
      - name: Check for pyright errors
        uses: jakebailey/pyright-action@v2
        with:
          python-path: ${{ steps.venv.outputs.python-path }}
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        django-version:
          - 4.2.*
          - 5.0.*
          - 5.1.*
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        mode:
          - std
          - geos
        psycopg:
          - "psycopg2"
          - "psycopg" # v3
        include:
          # Django 4.2 only supports python 3.8-3.12
          - django-version: 4.2.*
            python-version: "3.8"
            mode: std
          - django-version: 4.2.*
            python-version: "3.8"
            mode: geos
        exclude:
          # Django 4.2 only supports python 3.8-3.12
          - django-version: 4.2.*
            python-version: "3.13"
          # Django 5.0 only supports python 3.10-3.12
          - django-version: 5.0.*
            python-version: "3.9"
          - django-version: 5.0.*
            python-version: "3.13"
          # Django 5.1 only supports python 3.10+
          - django-version: 5.1.*
            python-version: "3.9"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install OS Dependencies
        if: ${{ matrix.mode == 'geos' }}
        uses: daaku/gh-action-apt-install@v4
        with:
          packages: binutils gdal-bin libproj-dev libsqlite3-mod-spatialite

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v5
        with:
          cache: poetry
          python-version: ${{ matrix.python-version }}

      - name: Install Deps
        run: poetry install

      - name: Install ${{ matrix.psycopg }}
        run: |
          poetry run pip install ${{ matrix.psycopg }}
          poetry run pip install ${{ matrix.psycopg }}-binary

      - name: Install Django ${{ matrix.django-version }}
        run: poetry run pip install "django==${{ matrix.django-version }}"

      - name: Test with pytest
        run: poetry run pytest --showlocals -vvv --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
